@model Film

@{
    ViewData["Title"] = "Home Page";
    var nameCookie = base.User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Name);

    var username = nameCookie?.Value ?? "UNKNOWN";

}

@* @if (base.User.Identity.IsAuthenticated)
{

<div class="container">
<div class="text-center">
<h6 class="display-4">Welcome, @username</h6>

</div>
</div>
} *@

@if (base.Model != null)
{
    <div class="film-with-rate"></div>
    <div style="width: 1140px; margin: 0 auto;">
        <div style="display: flex;">
             <div class="card" style="width: 25rem; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);">
                <div class="card-body" style="background-color: rgb(36, 34, 34);">
                    <div class="film-name" style="color: #FFFFFF; font-size: 35px; margin-top: 20px; padding-left:25px">
                        @base.Model.Name
                    </div>
                    <div style="font-size: 14px; color: #FFFFFFB3; font-size: 14px; margin-top: 15px; padding-left:25px">
                        Presentation
                        Date: @base.Model.PresentationDate.Year
                    </div>
                    @if (base.Model.Rate > 4)
                    {
                        <div style="font-size: 25px; color: #FFFFFFB3; font-size: 14px; margin-top: 15px; padding-left:25px">WatchPlus
                            Rating: <img src="Assets/IMG/rate-star.png" style="height: 30px; width: 30px;"> <img
                            src="Assets/IMG/rate-star.png" style="height: 30px; width: 30px;"> <img src="Assets/IMG/rate-star.png"
                            style="height: 30px; width: 30px;"> <img src="Assets/IMG/rate-star.png"
                            style="height: 30px; width: 30px;">
                            <img src="Assets/IMG/rate-star.png" style="height: 30px; width: 30px;">
                        </div>
                    }
                    else if (base.Model.Rate <= 4 && base.Model.Rate > 3)
                    {
                        <div style="font-size: 25px; color: #FFFFFFB3; font-size: 14px; margin-top: 15px; padding-left:25px">WatchPlus
                            Rating:
                            <img src="Assets/IMG/rate-star.png" style="height: 30px; width: 30px;"> <img src="Assets/IMG/rate-star.png"
                            style="height: 30px; width: 30px;"> <img src="Assets/IMG/rate-star.png"
                            style="height: 30px; width: 30px;">
                            <img src="Assets/IMG/rate-star.png" style="height: 30px; width: 30px;">
                        </div>
                    }
                    else if (base.Model.Rate <= 3 && base.Model.Rate > 2)
                    {
                        <div style="font-size: 25px; color: #FFFFFFB3; font-size: 14px; margin-top: 15px; padding-left:25px">WatchPlus
                            Rating:
                            <img src="Assets/IMG/rate-star.png" style="height: 30px; width: 30px;"> <img src="Assets/IMG/rate-star.png"
                            style="height: 30px; width: 30px;"> <img src="Assets/IMG/rate-star.png"
                            style="height: 30px; width: 30px;">
                        </div>
                    }
                    else if (base.Model.Rate <= 2 && base.Model.Rate > 1)
                    {
                        <div style="font-size: 25px; color: #FFFFFFB3; font-size: 14px; margin-top: 15px; padding-left:25px">WatchPlus
                            Rating:
                            <img src="Assets/IMG/rate-star.png" style="height: 30px; width: 30px;"> <img src="Assets/IMG/rate-star.png"
                                style="height: 30px; width: 30px;">
                        </div>
                    }
                    else
                    {
                        <div style="font-size: 25px; color: #FFFFFFB3; font-size: 14px; margin-top: 15px; padding-left:25px">WatchPlus
                            Rating:
                            <img src="Assets/IMG/rate-star.png" style="height: 30px; width: 30px;">
                        </div>
                    }
                    <div style="color: rgb(222, 210, 210); font-size: 25px; margin-top: 15px; padding-left:25px; width: 300px">
                        @base.Model.Presentation</div>
                    <div style="padding-left: 25px;">

                        <form asp-controller="Film" asp-action="InfoAboutFilmAsync" asp-route-id="@base.Model.Id" method="get">
                            <input type="hidden" name="_method" value="INFO" />
                            <button type="submit" class="btn btn-warning"
                                style="margin-top: 50px; margin-bottom:50px; width: 150px; border-radius: 10px; background-color: rgb(235, 235, 98);">Info</button>
                        </form>
                    </div>
                    
                
                </div>
            </div>

            <div style="width: 740px;">
                <img src="/Film/Image/@base.Model.Id" alt="error" style="max-width: 100%; height: auto;"> 
            </div>
            @* <div class="film-image-background"
                style="height: 600px;background-image: url('/Film/Image/@base.Model.Id');background-size: contain;background-position: center;background-repeat: no-repeat;">

            </div> *@
        </div>

           
                

        
    </div>
}
